In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('Datasets/deliveries.csv')
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [41]:
# Find the most destructive death over batsman in the history of IPL
# Strike Rate- Number of runs/ number of balls/100
# Min 200 balls  in over 16-20

death_over = data[data['over']>15]

all_batsman = death_over.groupby('batsman')['ball'].count()

x = all_batsman>200

batsman_list = all_batsman[x].index.tolist()

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Flintoff         18
                 ...
YS Chahal          27
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      516
Z Khan            109
Name: ball, Length: 416, dtype: int64

In [68]:
# Runs scored by all in batsman_list
# Balls played by the batsmans

final = data[data['batsman'].isin(batsman_list)]

runs = final.groupby('batsman')['batsman_runs'].sum()

final = final[final['wide_runs']==0]
final = final[final['bye_runs']==0]
final = final[final['legbye_runs']==0]
final = final[final['penalty_runs']==0]

balls = final.groupby('batsman')['ball'].count()

strike_rate = (runs/balls)*100
strike_rate.sort_values(ascending=False).head()

batsman
AB de Villiers     151.302083
KA Pollard         151.188182
YK Pathan          148.626653
Harbhajan Singh    145.802920
DA Miller          145.260223
dtype: float64